@charset "utf-8";

/* Generic */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font: 14px/1 "Segoe UI", sans-serif;
    margin: 0;
    min-height: 100%;
}

.demo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1280px;
    padding: 3em 0;
    position: relative;
}

/*=================================================================*/
/*                           Annotations                           */
/*=================================================================*/

.annotations {
    position: absolute;
    left: 0;
    right: 0;
}

.annotations-list {
    display: grid;
    height: 100%;
    grid-column-gap: 346px;
    grid-template-columns: 384px 384px;
    grid-template-rows: repeat(6, 113px);
    justify-content: space-between;
    position: absolute;
    transition: opacity .5s ease-in-out;
    width: 100%;
}

.annotations-list:not([rel]) {
    opacity: 0;
    pointer-events: none;
}

.note {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 2px 12px transparent;
    cursor: pointer;
    display: flex;
    padding: 2em;
    position: relative;
    transition: .3s ease-in-out;
    width: 384px;
    z-index: 3;
}

.note:hover {
    border-color: #1074e7;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .25);
}

.note:nth-child(2n-1) {
    text-align: right;
}

.note p {
    font-size: 16px;
    line-height: 1.42;
    margin: 0;
}

/*=================================================================*/
/*                           Phone Code                            */
/*=================================================================*/

.phone {
    height: 681px;
    overflow: hidden;
    padding: 25px 27px;
    position: relative;
    width: 346px;
}

.phone-graphic {
    background: url('../images/iphone.png') no-repeat center / cover;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.phone-viewport {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.phone-screen {
    flex-shrink: 0;
    height: 631px;
    padding-top: 24px;
    width: 292px;
}

.phone-screen:first-child {
    transition: margin .25s ease-in-out;
}

.phone-screen .wrap {
    padding: 0 24px;
}

.wrap-right {
    padding-right: 24px;
}

.phone-screen.bottomless {
    display: flex;
    flex-direction: column;
}

.phone-screen .button-holder {
    margin: 1em 0;
    padding: .75em 2em;
}

.bottomless .bottomless-list {
    box-shadow: inset 0 -2px 12px rgba(255,255,255,.5);
    overflow-y: auto;
    padding: 0 20px .15em 24px;
}

.bottomless-list::-webkit-scrollbar {
    background-color: #e6e6e6;
    width: 4px;
}

.bottomless-list::-webkit-scrollbar-thumb {
    background-color: #babac0;
}

/* Applied to the element previous to the list (using JS).

For example:

<div class="option-bar scroll-shadow"></div>
<div class="bottomless-list"></div>

*/
.scroll-shadow {
    box-shadow: 0 12px 12px -10px #ccc;
}

/*=================================================================*/
/*                           Login Screen                          */
/*=================================================================*/

.phone-screen .logo {
    border: 2px dashed #000;
    line-height: 64px;
    font-size: 16px;
    margin: 3em 0;
    opacity: .4;
    text-align: center;
    user-select: none;
}

/* Input Boxes */
.phone-screen input:not([type="checkbox"]) { /* Avoid checkboxes. */
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 1em;
    padding: .75em 1em;
    width: 100%;
}

.phone-screen input::placeholder {
    color: #ccc;
}

.phone-screen input:not([type="checkbox"]):focus {
    border-color: #6f2377;
    outline: 0;
}

.phone-screen input:focus::placeholder {
    color: #7a7a7a;
}

#wide-inputs input {
    width: 100%;
}

/* Buttons */
.phone-screen button {
    background-color: #81288a;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    margin-top: 1.5em;
    padding: .75em 1em;
    width: 100%;
}

.phone-screen button:focus {
    outline: 0;
}

.phone-screen button:hover {
    background-color: #932e9e;
}

.phone-screen button:active {
    background-color: #6e2277;
}

/*=================================================================*/
/*                        Lecture List Screen                      */
/*=================================================================*/


.phone-screen h2 {
    font-size: 1.25em;
}

.phone-screen .option-bar {
    padding-bottom: 1em;
    padding-top: 1em;
}

.phone-screen .split {
    display: flex;
    justify-content: space-between;
}

.phone-screen i[onclick] {
    cursor: pointer;
}

.phone-screen h2 {
    margin: 0;
    user-select: none;
    text-align: center;
}

.sync-message {
    color: #888;
}

.phone-screen .lecture-item {
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 1.5em;
    user-select: none;
}

.phone-screen .lecture-item:hover {
    border-color: #7a7a7a;
}

.phone-screen .lecture-item:active {
    border-color: #7a7a7a;
    opacity: .6;
}

.lecture-item .wrap {
    padding: 0 14px;
}

.lecture-item h3 {
    font-size: 1em;
    margin: 0;
}

.lecture-item .day {
    color: #1074e6;
}

.lecture-type {
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
}

.lecture-type.lecture { background-color: #74b49b; }
.lecture-type.lab { background-color: #df7699; }

.lecture-info {
    padding: 1em 0;
}

.lecture-info .teacher {
    color: #888;
    font-weight: 400;
    margin: .5em 0 0;
}

.lecture-waw { /* When and Where */
    background-color: #fafafa;
    border-top: inherit;
    font-family: monospace;
    font-size: 12px;
    line-height: 16px;
    padding: 1em;
}

/*=================================================================*/
/*                          Marking Screen                         */
/*=================================================================*/

.marking .lecture-waw {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin: 1.5em 0 0;
    padding: 1em 2em;
}

.marking .attendee-list {
    padding: 0 0 2em;
    transition: color .2s ease-in-out;
}

.attendee-list .attendee {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: .5em 2em;
    user-select: none;
}

.attendee-list .attendee:hover {
    background-color: #fafafa;
}

.marking .attendee-list .attendee {
    pointer-events: none;
}

.attendee input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid currentColor;
    border-radius: 3px;
    color: inherit;
    cursor: pointer;
    height: 15px;
    line-height: 9px;
    outline: 0;
    text-align: center;
    width: 15px;
}

.attendee input:checked {
    color: #6f2377;
}

.attendee input::after {
    color: #fff;
    content: '✔';
    font-size: 9px;
    font-weight: bold;
}

.attendee input:checked::after {
    color: currentColor;
}

/*=================================================================*/
/*                         "Signal" Screen                         */
/*=================================================================*/

.icon-holder {
    padding: 2em 0;
    text-align: center;
}

.signal-icon {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: flicker infinite 1.5s;
    background-image: linear-gradient(to bottom,
        #0c54a7, #2c6abb, #4380ce, #5a97e2, #70aef5);
    font-size: 4em;
}

@keyframes flicker {
    0%   { opacity: 1;  }
    50%  { opacity: .6; }
    100% { opacity: 1;  }
}

/*================================================================*/
/*                        Student App Styling                     */
/*================================================================*/

.v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#rgu-logo {
    margin-bottom: 10vh;
}

#login {
    width: 85%;
    margin-top: 10vh;
    border-radius: 4px;
    font-weight: bold;
}

.header-top {
    padding: 0;
}

.student-header {
    width: 100%;
    height: auto;
    overflow: auto;
    background: #6f2377;
    color: #fff;
    text-align: center;
    padding-top: 24px;
    margin-bottom: 5vh;
}

.flex-container,
.flex-list {
    width: 100%;
    height: auto;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-list .flex-container {
    margin: 2.5% 0;
}

.text-center {
    text-align: center;
}

#updated,
#lecturer {
    color: grey;
}

#update {
    color: #218721;
    font-weight: bold;
}

.fa-download {
    padding-right: 5px;
}

.card {
    width: 90%;
    margin: 5%;
    padding: 5%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .25);
    border-radius: 10px;
}

#date {
    color: #000000;
    font-weight: bold;
}

#duration {
    color: #0080ff;
    font-weight: bold;
}

.cat-header {
    border-radius: 7px;
    font-size: 12px;
    flex-direction: row;
    margin-top: 5%;
    padding: 2.5%;
    color: #ffffff;
}

.green {
    background-color: #74b49b;
}

.fa-sign-out-alt,
fa-question,
fa-arrow-circle-left,
.tabs {
    cursor: pointer;
}

.flex-center {
    justify-content: center;
}

.align-bottom {
    align-self: flex-end;
}

.flex-btwn {
    justify-content: space-between;
}

.fa-check {
    margin: 0 auto;
}

.purple {
    color: #6f2377;
}

.pink {
    background-color: #df7699;
}

.content-container {
    width: 75%;
}

.relative {
    position: relative;
}

p {
    line-height: 140%;
}

.fa-arrow-circle-left {
    margin-top: 5vh;
}

.fa-bluetooth-b {
    color: #007FF6;
}

.fa-exclamation-circle,
.fa-times {
    color: red;
}

.warning {
    background: red;
    padding: 5%;
    margin: 3vw 0;
}

.warning h3,
.warning p {
    color: #ffffff;
}

.half {
    width: 50%;
}

.tabs {
    width: 90%;
    margin: 5%;
    border-radius: 4px;
}

.active-tab {
    background: #6f2377;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    list-style-type: none;
}

.inactive-tab {
    background: #f5f0f0;
}

.active-tab i,
.active-tab p {
    color: #ffffff;
}

.box {
    width: 20px;
    height: 20px;
    border: 2px solid red;
}
