@charset "utf-8";

/* idea: have a .theme on .phone or the body for the colours. */

/* Generic */
*, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font: 14px/1 "Segoe UI", sans-serif;
    margin: 0;
    min-height: 100%;
}

.demo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;
    padding: 3em 0;
    position: relative;
}

/*=================================================================*/
/*                             Tooltips                            */
/*=================================================================*/

.tooltip-holder {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.tooltip-page {
    transition: opacity .3s ease-in .2s;
}

.tooltip-page:not([rel]) {
    opacity: 0;
    transition: none;
}

.tooltip-page:not([rel]) .tooltip-indicator {
    pointer-events: none;
}

.tooltip-indicator {
    animation: pulsate 2s infinite ease-in-out;
    border: 3px solid currentColor;
    border-radius: 50%;
    color: #1074e6;
    cursor: pointer;
    height: 24px;
    pointer-events: all;
    position: absolute;
    width: 24px;
}

.tooltip-indicator:hover,
.tooltip-indicator.active {
    animation: pulsateIn forwards .2s ease-in;
}

.tooltip-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 12px -2px rgba(175,175,175,.5);
    line-height: 1.42;
    font-size: 12px;
    opacity: 0;
    padding: 1em;
    position: absolute;
    text-align: center;
    transition: opacity .3s ease-in-out;
    width: 256px;
    user-select: none;
    z-index: 1;
}

.tooltip-indicator.active + .tooltip-box {
    opacity: 1;
}

.tooltip-box::before,
.tooltip-box::after {
    background-color: #ccc;
    content: '';
    height: 12px;
    left: -6px;
    position: absolute;
    top: 15px;
    transform: rotate(45deg);
    width: 12px;
}

.tooltip-box::before {
    box-shadow: inherit;
}

.tooltip-box::after {
    background-color: #fff;
    left: -5px;
}

@keyframes pulsate {
    0% {
        opacity: .8;
        transform: scale(.8);
    }

    50% {
        opacity: .4;
        transform: scale(1.25);
    }

    100% {
        opacity: .8;
        transform: scale(.8);
    }
}

@keyframes pulsateIn {
    from {
        opacity: 0;
        transform: scale(1.25);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*=================================================================*/
/*                           Phone Code                            */
/*=================================================================*/

.phone {
    height: 681px;
    overflow: hidden;
    padding: 25px 27px;
    position: relative;
    width: 346px;
}

/* Demo has position: relative; */
.phone-signal {
    align-items: center;
    display: flex;
    color: #ccc;
    font-size: 5rem;
    justify-content: center;
    position: relative;
    width: 284px;
}

.phone-signal::before {
    background-color: #ccc;
    content: '';
    height: 4px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.phone-signal-dot {
    background-color: #4794eb;
    content: '';
    height: 8px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 8px;
    z-index: -1;
}

.phone-signal i {
    position: relative;
    transition: color .15s ease-in-out;
    z-index: 100;
}

.phone-signal i::after {
    background-image: linear-gradient(90deg, transparent, #fff 25%, #fff 75%, transparent);
    content: '';
    height: 8px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    z-index: -1;
}

.phone-graphic {
    background: url('../images/iphone.png') no-repeat center / cover;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

.phone-colour-bar {
    align-items: center;
    background-color: #81288a;
    display: flex;
    height: 24px;
    left: 27px;
    justify-content: space-between;
    padding: 0 2em 0 2.5em;
    position: absolute;
    right: 27px;
    top: 25px;
    z-index: 1;
}

.phone-viewport {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.phone-screen {
    background-color: #fff;
    flex-shrink: 0;
    height: 631px;
    padding-top: 24px;
    position: relative;
    width: 292px;
}

.phone-screen:first-child {
    transition: margin .25s ease-in-out;
}

.phone-screen .wrap {
    padding: 0 24px;
}

.phone-screen.bottomless {
    display: flex;
    flex-direction: column;
}

.phone-screen .button-holder {
    margin: 1em 0;
    padding: .75em 2em;
}

.bottomless .bottomless-list {
    box-shadow: inset 0 -2px 12px rgba(255, 255, 255, .5);
    overflow-y: auto;
    padding: 0 20px .15em 24px;
}

.bottomless-list::-webkit-scrollbar {
    background-color: #e6e6e6;
    width: 4px;
}

.bottomless-list::-webkit-scrollbar-thumb {
    background-color: #babac0;
}

/* Applied to the element previous to the list (using JS).

For example:

<div class="option-bar scroll-shadow"></div>
<div class="bottomless-list"></div>

*/
.scroll-shadow {
    box-shadow: 0 12px 12px -10px #ccc;
}

.phone-screen h2,
.phone-screen h3 {
    margin: 0;
    user-select: none;
}

.phone-screen h2 {
    font-size: 1.25em;
    text-align: center;
}

.phone-screen input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid currentColor;
    border-radius: 3px;
    color: inherit;
    cursor: pointer;
    height: 15px;
    line-height: 9px;
    outline: 0;
    text-align: center;
    width: 15px;
}

.phone-screen input[type="checkbox"]::after {
    color: currentColor;
    content: '✔';
    font-size: 9px;
    font-weight: bold;
    opacity: 0;
}

.phone-screen input[type="checkbox"]:checked::after {
    opacity: 1;
}

/*===========================[Lecturer]============================*/
/*                           Login Screen                          */
/*=================================================================*/

.phone-screen .logo {
    align-items: center;
    border: 2px dashed #9a9a9a;
    color: #9a9a9a;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 64px;
    justify-content: center;
    margin: 3em 0;
    position: relative;
    transition: background-color .15s ease-in-out;
    user-select: none;
}

.phone-screen .logo[style] {
    background: transparent no-repeat center / contain;
    border: 0;
}

.phone-screen .logo.dragging {
    position: relative;
}

.phone-screen .logo.dragging::after {
    align-items: center;
    background-color: #f3f3f3;
    content: 'Drop to upload';
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.logo + input {
    display: none;
}

.phone-screen .logo.img {
    border: 0;
    line-height: 0;
}

.phone-screen .logo img {
    width: 100%;
}

/* To differentiate from the lecturers' app. */
.phone-screen .logo .grad-cap {
    background-color: #fff;
    color: #000;
    font-size: 24px;
    right: 0;
    top: 0;
    transform: translate(50%, -65%) rotate(15deg);
    position: absolute;
}

.logo.img .grad-cap {
    transform: translate(35%, -65%) rotate(18deg);
}

/* Input Boxes */
.phone-screen input:not([type="checkbox"]) {
    /* Avoid checkboxes. */
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 1em;
    padding: .75em 1em;
    width: 100%;
}

.phone-screen input,
.phone-screen button {
    -webkit-appearance: none;
}

.phone-screen input::placeholder {
    color: #ccc;
}

.phone-screen input:not([type="checkbox"]):focus {
    border-color: #6f2377;
    outline: 0;
}

.phone-screen input:focus::placeholder {
    color: #7a7a7a;
}

/* Buttons */
.phone-screen button {
    background-color: #81288a;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    padding: .75em 1em;
    width: 100%;
}

.phone-screen input + button {
    margin-top: 1.5em;
}

.phone-screen button:focus {
    outline: 0;
}

.phone-screen button:hover {
    background-color: #932e9e;
}

.phone-screen button:active {
    background-color: #6e2277;
}

/* Error output */
.phone-form-output {
    background-color: #d85a5a;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 32px;
    margin: 2em 24px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    transition: opacity .2s ease-in-out;
    user-select: none;
}

.phone-form-output[rel] {
    opacity: 1;
}

/*===========================[Lecturer]============================*/
/*                        Lecture List Screen                      */
/*=================================================================*/

.phone-screen .option-bar {
    padding-bottom: 1em;
    padding-top: 1em;
}

.phone-screen .option-bar.space {
    margin: .5em 0;
}

.phone-screen .split {
    display: flex;
    justify-content: space-between;
}

.phone-screen i[onclick] {
    cursor: pointer;
}

.sync-message {
    color: #888;
}

.phone-screen .lecture-item {
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 1.5em;
    user-select: none;
}

.phone-screen .lecture-item:hover {
    border-color: #7a7a7a;
}

.phone-screen .lecture-item:active {
    border-color: #7a7a7a;
    opacity: .6;
}

.lecture-item .wrap {
    padding: 0 14px;
}

.lecture-item h3 {
    font-size: 1em;
    margin: 0;
}

.lecture-item .day {
    color: #1074e6;
}

.lecture-type {
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
}

.lecture-type.lecture {
    background-color: #74b49b;
}

.lecture-type.lab {
    background-color: #df7699;
}

.lecture-info {
    padding: 1em 0;
}

.lecture-info .teacher {
    color: #888;
    font-weight: 400;
    margin: .5em 0 0;
}

.lecture-waw {
    /* When and Where */
    background-color: #fafafa;
    border-top: inherit;
    font-family: monospace;
    font-size: 12px;
    line-height: 16px;
    padding: 1em;
}

/*===========================[Lecturer]============================*/
/*                          Marking Screen                         */
/*=================================================================*/

.marking .lecture-waw {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin: 1.5em 0 0;
    padding: 1em 2em;
}

.marking .attendee-list {
    padding: 0 0 2em;
    transition: color .2s ease-in-out;
}

.attendee-list .attendee {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: .5em 2em;
    transition: opacity .25s ease-in-out;
    user-select: none;
}

.attendee-list .attendee:hover {
    background-color: #fafafa;
}

.marking .attendee-list .attendee {
    pointer-events: none;
}

.attendee input:checked {
    color: #6f2377;
}

.marking-confirm {
    align-items: center;
    background-color: rgba(0,0,0,.2);
    bottom: 0;
    display: flex;
    left: 0;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

.marking-confirm:not([rel]) {
    pointer-events: none;
    opacity: 0;
}

.confirm-box {
    background-color: #fff;
    border: 2px solid #888;
    border-radius: 3px;
    box-shadow: 0 4px 12px -2px rgba(175,175,175,.8);
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 1em;
    transition: .3s opacity ease-in-out;
    user-select: none;
}

.confirm-box h4 {
    margin: .5em 0;
}

.confirm-btns.option-bar {
    display: flex;
    justify-content: space-around;
    padding-bottom: .5em;
}

.confirm-btns button {
    font-size: 12px;
    padding: .5em 2em;
    width: auto;
}

/*===========================[Lecturer]============================*/
/*                        "Signal" Screen                          */
/*=================================================================*/

.icon-holder {
    padding: 2em 0;
    text-align: center;
}

.signal-icon {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: flicker infinite 1.5s;
    background-image: linear-gradient(to bottom,
            #0c54a7, #2c6abb, #4380ce, #5a97e2, #70aef5);
    font-size: 4em;
}

@keyframes flicker {
      0% { opacity:  1; }
     50% { opacity: .6; }
    100% { opacity:  1; }
}

/*============================[Student]===========================*/
/*                        Student Screen                          */
/*================================================================*/

/* For pages with headers. */
.phone-screen .header-title {
    align-items: center;
    background-color: #81288a;
    color: #fff;
    display: flex;
    margin-bottom: 1em;
    position: relative;
}

.phone-screen .header-title h3 {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.phone-screen .tabs {
    flex: 1;
}

.tabs .tabs-screen:not([rel]) {
    display: none;
}

.phone-screen .tabs-menu {
    background-color: #81288a;
    display: flex;
    user-select: none;
}

.tabs-menu .tabs-option {
    color: #fff;
    cursor: pointer;
    flex-grow: 1;
    font-size: 12px;
    opacity: .4;
    padding: 1em 0 1.5em;
    text-align: center;
}

.tabs-menu .tabs-option:hover,
.tabs-menu .tabs-option[rel] {
    opacity: 1;
}

.tabs-menu .tabs-option i {
    display: block;
    font-size: 18px;
    margin-bottom: .25em;
}

/*=============================[Student]==========================*/
/*                         Attendance Screen                      */
/*================================================================*/

.attendance-status {
    padding: 8rem 0 4rem;
    text-align: center;
}

.attendance-status i {
    color: #333;
    font-size: 6rem;
}

.attendance-banner {
    background-color: #d85a5a;
    color: #fff;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 3rem;
    transition: opacity .2s ease-in-out;
    user-select: none;
}

.attendance-banner[rel="show"] {
    opacity: 1;
}

.attendance-banner h3 {
    margin-top: .5em;
}

.attendance-banner p {
    font-size: 12px;
    line-height: 1.2;
    margin: .5em 0 1.25em;
}

.attendance-messages {
    color: #333;
    font-weight: 700;
    flex: 1;
    padding: 0 4em;
    pointer-events: none;
    user-select: none;
}

.attendance-messages .message {
    line-height: 1.25rem;
    padding: .5em 0;
    text-align: right;
    transition: color .2s ease-in;
}

.active ~ .message {
    color: #ccc;
}

.message.okay { color: #f0c756; }
.message.good { color: #39ac60; }
/* Better to apply to parent, since a bad connection gives an
   error across all messages anyway. */
i.bad,
.bad .message  { color: #d85a5a; }

/* Checboxes */
.bad .message input::after {
    content: '✖';
    opacity: 1;
}

.pulse {
    position: relative;
    z-index: 1;
}

.pulse::after {
    animation: pulse 1s infinite ease-in-out;
    background-color: #4794eb;
    border-radius: 50%;
    content: '';
    height: 96px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(1.25);
    width: 96px;
    z-index: -1;
}

@keyframes pulse {
    from {
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        transform: translate(-50%, -50%) scale(1.25);
        opacity: 0;
    }
}

/*================================================================*/
/*                         Connection Form                        */
/*================================================================*/

.phone-connections {
    position: absolute;
    left: 50%;
    top: 6em;
    transform: translateX(-50%);
}

.phone-connections label {
    border: 1px solid #ccc;
    border-radius: 12px;
    cursor: pointer;
    line-height: 1em;
    padding: .5em 1em;
    user-select: none;
}

.phone-connections input {
    margin: 0 0 0 .5em;
    height: 13px;
    vertical-align: top;
    width: 13px;
}